Here we have the login page.
<p>
A world without CROCS is within reach but we won't get here without your support </p>
<form action="/users" id="formSign" method="POST">
  <label for="lname">Email Address:</label>
  <input type="text" id="email" name="email"><br><br>
  <label for="lname">Password:</label>
  <input type="text" id="paswd" name="password"><br><br>
  <input style="display: none;" name="signature" id="hidden">
  <button>LOGIN</button>
</form>
<p>If you are already a member pleace log in.</p>
</div>
