<script defer src="main.js"></script>

<form action="/petition" id="form" method="POST">
 <h3 class="menu">Your cooperation in signing this petition against child abuse is paramount to the survival of our society, your signature matters.
  Protection of children and young adults against all forms of violence is a fundamental right secured by international conventions and standards of human rights. Nevertheless, it remains to be 
  a real part of life as a pressing issue with both immediate and long term consequences for all children all over the world, 
  regardless of economic and social status, culture, religion or ethnicity.
 </h3>

  <input style="display: none;"    name="signature" class="signimg" id="hidden">
   <canvas id="canvas" width="200" height="100"></canvas><br>
  <button class="btn1">submit</button>
</form>

</div>

