<div class="box">
<form action="/profile" method="POST">
<h2>Now please tell us a little more about yourself </h2>
  <label for="fname">Age:</label>
  <input type="text" id="agee" name="age"><br><br>
  <label for="lname">City:</label>
  <input type="text" id="cityy" name="city"><br><br>
  <label for="lname">Homepage:</label>
  <input type="text" id="home" name="homepage"><br><br>
  <button>CONTINUE</button>
</form>
</div>