
<form action="/register" id="formSign" method="POST">

<div class="page">
<h3>Child abuse and neglect are serious public health problems and adverse childhood experiences (ACEs). 
  They can have long-term impacts on health, opportunity, and wellbeing. This issue includes 
  all types of abuse and neglect of a child under the age of 18 by a parent or caregiver. Your signature echo the voice of
  the abused. Please fill and sign the form. Thanks
</h3>
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname" size="35" required><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname"  name="lname" size="35" required><br><br>
  <label for="lname">Email Add:</label>
  <input type="text" id="emailAddr" name="email" size="35" required><br><br>
  <label for="lname">Password:</label>
  <input type="text" id="passwd" name="password" size="35" required><br><br>
  <button class="btn3">SIGNUP</button>
  </div>
</form>
</div>
{{#if display}}
<p>Error on page</p>
{{/if}}