<div class="thank">
    <p>View a list of all who have signed the Petition. Thanks for signing in.</p><br>
    <img src="{{imgUrl}}"><br>
    <a href="/signers">{{total}} See all who have Signed</a><br>
    
</div>