#canvas {
  cursor: crosshair;
  border: 1px solid black;
   margin-left: 40vw;
   margin-top: 5vw;
}
.btn {
    width: 8vw;
    height: 2vw;
    margin-left: 45vw;
}
.btn1{
    width: 6vw;
    height: 2vw;
    margin-top: 5vw;
    margin-left: 4vw;
}
body {
    background-color: steelblue;
}
*{
    margin: 0;
    padding: 0;
}
.menu {
    font-family: cursive;
    font-weight: bold;
    
    
}
#form {
    padding-left: 3vw;
    padding-right: 3vw;
}
#formSign {
    padding-left: 25vw;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h3{
    color: #020202;
}
.page{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#form{
    padding-top: 4vw;
}
.signimg {
    width: 50px;
}
.box{
    padding-left: 10vw;
    
}
